<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="massage.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="404.html" responseMode="File" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <add name="massage-website" value="ltsc" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="UseExpires" httpExpires="Wed, 09 Jul 2025 19:32:00 GMT" />
        </staticContent>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
